<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/Posts/<%= post._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="post[title]" value="<%= post.title%>">
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" name="post[author]" value="<%= post.author%>">
        </div>
        <button>Edit Post</button>
    </form>
    <a href='/Posts/<%= post._id %>'>All posts </a>
</body>
</html>