<% layout('/layouts/boilerplate')%>

<div class="container">
    <h3 class="card-title">An overview about the story of my life</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2020</span>
                    <div class="timeline-content">
                        <h3 class="title">Graduated and going forward</h3>
                        <p class="description">
                            After finish my bachelor degree in the year of COVID-19, as the economy is struggling, I decided to continue self-study and achieved
                            an industrial CompTIA Sec+ certificate. While I am looking for a job, I continue to do many self-project and learn more advanced knowledge.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2016</span>
                    <div class="timeline-content">
                        <h3 class="title">University student</h3>
                        <p class="description">
                            Gratefully accepted to Concordia University and spent the next 4 years cultivating both coding skills and mentality.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2015</span>
                    <div class="timeline-content">
                        <h3 class="title">A new chapter</h3>
                        <p class="description">
                            The first time I came to Canada alone as a grade 12 student and stayed 7200 miles away from home.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>