<% layout('/layouts/boilerplate')%>

<main class="px-3">
    <h1>WELCOME TO NEWBIE ZONE</h1>
    <p class="lead">Thank you for visiting my personal website. <br>
        This web is made to be my personal online resume, blog and projects showcase. All the content of my blog 
        is based on my personal understanding and thoughts, which can be lacking in some cases. While I always 
        try to enhance and to broaden my knowledge, please feel free to have a look and do not put my take too seriously. <br>
        Thank you and have a nice day! :'>
    </p>
    <div class="row">
        <div class="col-6">
            <iframe src="https://drive.google.com/file/d/19y0IDqvy_yESQBG_nazO8vGR6fT6rO6U/preview" width="1080" height="780"></iframe>
        </div>
    </div>
</main>