<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>WELCOME TO NEWBIE ZONE</h1>

    <section id="container">
        <div>Cyber Security</div>
        <div>Data Science</div>
        <div>Other irrelevant stuffs</div>
    </section>

    <main>
        <section class="main_container">

        </section>

        <section class="sidebar">

        </section>
    </main>
</body>
</html>