{{>header}}

<body>
    <h1>WELCOME TO NEWBIE ZONE</h1>

    <main>
        <div class="container">
            <section class="main_container">
                {{!--  
                {{#each posts}}
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://placeimg.com/750/300/tech" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{title}}</h2>
                            <p class="card-text">{{description}}</p>
                            <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{creationDate}} by
                            <a href="#">Admin</a>
                        </div>
                    </div>

                {{/each}} --}}
                <div class="posts">
                    <div class="row justify-content-center">
                        <div class="col-lg-7" style="margin-top: 50px;">
                            <div class="card">

                                <img src="https://picsum.photos/500/500"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Posted by Janith Kasun</h5>

                                    <ul class="list-group">
                                        <li class="list-group-item">This is supposed to be a comment</li>
                                        <li class="list-group-item">This is supposed to be a comment</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sidebar">
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="/docs/4.5/getting-started/introduction/">
                          Getting started
                        </a>
                  
                        <ul class="nav bd-sidenav"><li class="active bd-sidenav-active">
                              <a href="/docs/4.5/getting-started/introduction/">
                                Introduction
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/download/">
                                Download
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/contents/">
                                Contents
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/browsers-devices/">
                                Browsers &amp; devices
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/javascript/">
                                JavaScript
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/theming/">
                                Theming
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/build-tools/">
                                Build tools
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/webpack/">
                                Webpack
                              </a>
                            </li><li>
                              <a href="/docs/4.5/getting-started/accessibility/">
                                Accessibility
                              </a>
                            </li></ul>
                      </div>
                </nav>
            </section>
        </div>
    </main>
</body>

{{>footer}}
</html>