<% layout('/layouts/boilerplate')%>
<h1>WELCOME TO NEWBIE ZONE</h1>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Hello <%= user.username %></h1>
            <h2 class="card-text">Your email is: <%= user.email %></h2>
            <br />
        </div>
    </div>  
</div>