<% layout('/layouts/boilerplate')%>
<h1>WELCOME TO NEWBIE ZONE</h1>

<div class="container-fluid">
    <div class="card">
        <img src="data:image/png;base64, <%= dataToSend %>" alt="Load img"/>
        <div class="card-body">
            <h1 class="card-title"><%= post.title %></h1>
            <h2 class="card-text"><%= post.author %></h2>

            <p class="card-text"><%= post.description %></p>

            <div class="card-footer text-muted">
                <a href='/Posts'>All posts </a>
            </div>
        </div>
    </div>  
</div>
