<% layout('/layouts/boilerplate')%>
<h1>WELCOME TO NEWBIE ZONE</h1>

<div class="container-fluid">
    <div class="card">
        <img src="data:image/png;base64, <%= dataToSend %>" alt="Load img"/>
        <div class="card-body">
            <h1 class="card-title"><%= post.title %></h1>
            <h2 class="card-text">By <%= post.author %></h2>

            <% let new_line = post.description.split("\\n") %>
            <% for (let text of new_line) {%>
                <p class="card-text"><%= text %></p>
                <br />
            <% } %>

            <div class="card-footer text-muted">
                <a href='/Posts'>All posts </a>
            </div>
        </div>
    </div>  
</div>
